#page-wrapper
  .container-fluid
    / Page Heading
    .row
      .col-lg-12
        %h1.page-header
          Dashboard
          %small Statistics Overview
        %ol.breadcrumb
          %li.active
            %i.fa.fa-dashboard
            Dashboard
    .row
      .col-lg-3.col-md-6
        .panel.panel-yellow
          .panel-heading
            .row
              .col-xs-3
                %i.fa.fa-shopping-cart.fa-5x
              .col-xs-9.text-right
                .huge 0
                %div Orders
          %a{:href => user_packages_path}
            .panel-footer
              %span.pull-left View Details
              %span.pull-right
                %i.fa.fa-arrow-circle-right
              .clearfix
    / /.row
    .row
      .col-lg-12
        .panel.panel-default
          .panel-heading
            %h3.panel-title
              %i.fa.fa-bar-chart-o.fa-fw
              Area Chart
          .panel-body
            #morris-area-chart

