#page-wrapper
  .container-fluid
    / Page Heading
    .row
      .col-lg-12
        %h1.page-header
          Packages
          %small Overview
        %ol.breadcrumb
          %li.active
            %i.fa.fa-dashboard
            Packages > Index
    / /.row
    .row
      .col-lg-12
        = react_component 'UserPackages', { data: @user_packages }
